#insert {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    color: #000;
    margin: 1rem;
    width: 400px;

    border-radius: 5px;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-in;

    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
        -webkit-box-shadow: 0px 34px 21px -10px rgba(255, 255, 255, 0.5);
        box-shadow: 0px 34px 21px -10px rgba(255, 255, 255, 0.5);
    }

    &__code {
        &--mirror {
            opacity: 0;
            transform: scale(-1, -1);
        }

        &:hover ~ .box__code--mirror {
            opacity: 0.1;
            transition: opacity 0.4s ease 0s;
        }
    }

    &__key {
        &--mirror {
            opacity: 0;
            transform: scale(-1, -1);
        }

        &:hover ~ .box__key--mirror {
            opacity: 0.1;
            transition: opacity 0.4s ease 0s;
        }
    }

    &__which {
        &--mirror {
            opacity: 0;
            transform: scale(-1, -1);
        }

        &:hover ~ .box__which--mirror {
            opacity: 0.1;
            transition: opacity 0.4s ease 0s;
        }
    }

    &__start {
        display: flex;
    }

    &__big-which {
        position: relative;
        width: 100%;
        font-size: 20rem;
        color: #fff;

        &--mirror {
            position: absolute;

            -moz-transform: scale(0.5) skew(-66deg, 0deg);
            -webkit-transform: scale(0.5) skew(-66deg, 0deg);
            -o-transform: scale(0.5) skew(-66deg, 0deg);
            -ms-transform: scale(0.5) skew(-66deg, 0deg);
            transform: scale(0.7) skew(-69deg, 14deg);
            top: 67px;
            left: 239px;
            letter-spacing: 57px;
            opacity: 0.03;
        }
    }

    .key-name {
        background-color: #fdc400ff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 5px 30px;
    }

    .key-value {
        background-color: #fff;
        padding: 30px 30px;
    }

    .key-description {
        background-color: #f3f3f3ff;
        padding: 30px 30px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
